body {color: #666666 ; background-color: #AAAAEE}
h1 {font-family: "Trebuchet MS", Helvetica, sans-serif ;}
p {font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;}
.oops {color: Red;}
.yay {color: Green; text-decoration: underline;}
